# This file is part of the Promptly.
#
# Copyright (C) 2023 Serghei Iakovlev <egrep@protonmail.ch>
#
# For the full copyright and license information, please view
# the LICENSE file that was distributed with this source code.

# Defining attributes per path.
#
# For more see: https://git-scm.com/docs/gitattributes

# Auto-detect text files, ensure they use LF.
* text=auto eol=lf

#
# Setting up linguist
#

*.rst   linguist-documentation -linguist-detectable
LICENSE linguist-documentation -linguist-detectable

# The following lines mark the bootstrap and jquery files as vendored
# code, so they won't be included in the repository's language
# statistics on GitHub.
promptly/static/css/bootstrap.min.css           linguist-vendored
promptly/static/css/bootstrap.min.css.map       linguist-vendored
promptly/static/js/bootstrap.bundle.min.js      linguist-vendored
promptly/static/js/bootstrap.bundle.min.js.map  linguist-vendored
promptly/static/js/jquery.min.js                linguist-vendored
promptly/static/js/jquery.min.map               linguist-vendored

# Exclude files from exporting
# (used by the "download ZIP archive" option, for example).
#
.github         export-ignore
.gitattributes  export-ignore
.gitignore      export-ignore
CODEOWNERS      export-ignore
