<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Promptly</title>

    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet">
    {% block head_css %}{% endblock %}
    {% block head_js %}{% endblock %}
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      {% include "layout/header.html" %}
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
      <div class="container">
        {% block container %}{% endblock %}
      </div>
    </main>

    <footer class="footer mt-auto py-3 bg-body-tertiary">
      {% include "layout/footer.html" %}
    </footer>

    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
    {% block body_js %}{% endblock %}
  </body>
</html>
