<!doctype html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    {% include "layout/icons.html" %}

    <!-- TODO: Set page title using current chat name (if any) -->
    <title>Promptly</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head_css %}{% endblock %}
    {% block head_js %}{% endblock %}
</head>

<!-- TODO: Do I really need all these data-* attributes? -->
<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">
    <noscript>
        <p class="noscript-warning">
            Oops, it seems you have disabled JavaScript.
            Turn it on to enjoy all the features of the chat.
        </p>
    </noscript>

    <div class="wrapper">
        {% include "layout/sidebar.html" %}

        <div class="main" id="chat-wrapper">
            {% include "layout/header.html" %}

            <main class="content overflow-auto chat-content pt-5 pb-5">
                <div class="container-fluid p-0" id="chat-output">
                    {% block container %}{% endblock %}
                </div>
            </main>

            <footer class="footer chat-footer">
                {% if request.endpoint == 'chat.chat' %}
                    {% include "layout/footer.html" %}
                {% endif %}
            </footer>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script' + ('.min' if not g.debug_mode else '') + '.js') }}"></script>
    {% block body_js %}{% endblock %}
  </body>
</html>
